* {
    font-family: sans-serif;
}

#nav {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#nav>div:nth-child(1) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    font-size: 12px;
}

#nav>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 27%;
    font-size: 12px;
}

#nav>div:nth-child(1)>img {
    width: 15%;
    margin-right: 30px;
}

#nav>div>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#nav>div:nth-child(2)>img:nth-child(1) {
    width: 8%;
}

#nav>div:nth-child(2)>img:nth-child(3) {
    width: 20px;
}

#nav>div:nth-child(2)>a:nth-child(5) {
    background-color: orange;
    border-radius: 5px;
    padding: 10px;
}

#nav>div:nth-child(2)>a:nth-child(4),
#nav>div:nth-child(2)>h2:nth-child(2) {
    margin-left: -15px;
}

#nav>div:nth-child(1)>h2:nth-child(2):hover,
#nav>div:nth-child(1)>a:nth-child(3):hover,
#nav>div:nth-child(1)>h2:nth-child(4):hover,
#nav>div:nth-child(1)>a:nth-child(5):hover,
#nav>div:nth-child(1)>h2:nth-child(6):hover,
#nav>div:nth-child(1)>h2:nth-child(7):hover {
    color: teal;
}

#nav>div:nth-child(2)>h2:nth-child(2):hover,
#nav>div:nth-child(2)>a:nth-child(4):hover,
#nav>div:nth-child(2)>a:nth-child(5):hover {
    color: teal;
}


#hide {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 20px;
    font-size: 10px;
}

#hide>div>p {
    color: blue;
    font-size: 15px;
}

#res {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
}

#res>div>h1 {
    color: blue;
    font-size: 15px;
}

#res>div {
    padding: 20px;
    background-color: #EDE7F6;
}


sup {
    color: #ffc107;
    font-size: 20px;
    font-weight: 700;
}

#top {
    background-color: #311B92;
    color: white;
    padding: 20px;
}

#sub-top {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

#sub-top>div {
    padding: 20px;
}


#top>h1 {
    font-size: 50px;
    margin: 30px;
    margin-left: 80px;
}

#top>p {
    font-size: 25px;
    margin: 30px;
    margin-left: 80px;
}

#button{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#button-1>button {
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
}

#button-1{
    padding: 5px;
    padding-left: 15px;
    width: 190px;
    margin-left: 120px;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(30px);
    border-radius: 50px;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(250, 246, 246, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#price-content{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto;
    background-color: #E1F5FE;
}

#price-content>div{
    width: 18%;
}

#price-content>div>p:nth-child(1){
    color: blue;
}

#price-content>div>button{
   padding: 5px;
   width: 200px;
   text-align: center;
   border: none;
   border-radius: 5px;
   background-color: #80DEEA;
   color: white;
   font-size: 20px;
}

#price-content>div>a{
    text-decoration: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #80DEEA;
    color: white;
    font-size: 20px;
 }

#price-content>div>ul {
    list-style-type: none;
}

#price-content>div>ul>li>img {
    width: 20px;
}

#startup{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

#startup>div>img{
    width: 60%;
    margin: 20px;
    margin-left: 50px;
}

#startup>div:nth-child(2){
    width: 40%;
}

#demo{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 30px;
    background-color: #E1F5FE;
}

#profile{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    align-items: center;
}

#profile>div>img{
    width: 100px;
    border-radius: 500px;
}

#company{
    display:flex;
    justify-content: space-evenly;
}

#company>img{
    width: 20%;
}

#demo-left{
    width: 40%;
    margin-left: 100px;
}

#demo-left>h1{
    width: 90%;
    margin-left: 50px;
}

#demo-left>p{
    font-size: 25px;
    width: 110%;
    color: teal;
    margin-left: 50px;
}

#demo-right{
    width: 30%;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: white;
    padding: 20px;
}

#demo-right>form>input{
    padding: 10px;
    width: 400px;
    border: none;
    font-size: 18px;
}

#problem{
    padding: 80px;
}

#country{
    padding: 20px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid teal;
    border-radius: 10px;
}

#demo-right>form>input[type=submit]{
    padding: 20px;
    background-color: #AED581;
    width: 430px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

#footer-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 300px;
    background-color: #4A148C;
    color: white;
}


#footer-1>div:nth-child(1)>h1 {
    margin: 40px;
    margin-top: 50px;
}

#footer-1>div:nth-child(1)>a {
    text-decoration: none;
    padding: 20px;
    margin: 40px;
    background-color: #80CBC4;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

#footer-1>div:nth-child(1)>a:hover {
    background-color: #EF5350;
}

#card {
    width: 40%;
    margin: auto;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    padding: 30px;
    margin-top: -200px;
}

#card img {
    border-radius: 20px;
}

#card+div>img {
    width: 15%;
    margin: 20px;
}

#card+div {
    margin-left: 150px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto;
    font-size: 15px;
}

#footer>div>h1 {
    color: blue;
}

#social>img {
    width: 30px;
    margin: 10px;
}

#social {
    margin-top: 30px;
    margin-left: 70%;
    cursor: pointer;
}

.hvr-forward {

    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}